<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Role Managment</h5>
            <form class="form-control" method="post" asp-action="AddNewRole">
                <label class="form-label">Add new role</label>
                <input class="form-text" type="text" name="RoleName" />
                <button class="btn btn-success" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>